body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h3 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.input-container {
  margin-bottom: 15px;
}

.mandatory {
  color: red;
}

label {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
  box-sizing: border-box;
}

input.error-input {
  border-color: red;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #451bee;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button.disabled-btn {
  background-color: #ccc;
}

button:disabled {
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}